/* Global dialog styles */
.p-dialog-mask {
  backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 0, 0.2) !important;
}

.p-dialog {
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1) !important;
}
